@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

body {
  height: 100%;
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

h1 {
  color: #217E3E;
}

h2 {
  color: #3BB44A;
}

div .MuiFormLabel-root.Mui-focused {
  color: #217E3E;
}

div .MuiInput-underline:after {
  border-bottom: 2px solid #3BB44A;
}

div .MuiButton-textPrimary {
  color: #217E3E;
}

.logo {
  font-family: 'Darker Grotesque', sans-serif;
}

.logo-first {
  color: #3BB44A;
}

.logo-second {
  color: #217E3E;
}

.quiz__container {
  font-family: roboto, serif;
  width: 75%;
}

.answer-button__container {
  display: flex;
  justify-content: space-evenly;
}

.answer-button__container .MuiButton-outlinedPrimary {
  color: #217E3E;
  border: 1px solid #3BB44A;
}

.answer-button__container .MuiButton-outlinedPrimary:hover {
  color: #217E3E;
  border: 1px solid #3BB44A;
}

.answer-button {
  width: 20%;
}

.game__container {
  display: flex;
  justify-content: center;
}

.quiz__contanier {
  transition: all 2s ease;
}

.name-input__container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.result__correct {
  color: #217E3E;
}

.result__incorrect {
  color: red;
}